body {
    font-family: 'Lato', serif;

    overflow: hidden;
}

div.main-section {
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;

    overflow: auto;
}

div#listings-section {
    position: fixed;

    top: 0;
    left: 0;
}

div#post-section {
    background: white;

    position: fixed;

    top: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;

    z-index: 2;
}

div#listings-header {
    position: fixed;

    top: 0;
    left: 0;

    padding: 2em;

    z-index: 1;
}

div#listings-header {
    background-color: black;
    color: white;

    padding-top: 4em;
    padding-bottom: 6em;
}

span#listings-title {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.2em;
}

div.listing {
    position: relative;

    width: 45%;

    box-sizing: border-box;

    display: inline-block;
    padding: 6em;
    margin-top: 2em;
}

div.listing-skewed {
    background-color: rgba(255, 255, 255, 0.4);

    -webkit-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
}

div.listing-skewed:hover {
    background-color: rgba(203, 205, 208, 0.4);
}

div.listing-lift {
    -webkit-transform: translateY(0px) translateX(0px);
    transform: translateY(0px) translateX(0px);

    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

div.listing-lift:hover {
    -webkit-transform: translateY(-10px) translateX(10px);
    transform: translateY(-10px) translateX(10px);
}

@media (min-width: 50em) {
    div.listing {
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }

    div.listing-skewed {
        border: 2px dashed black;
        padding: 0.5em;

        -webkit-transform: matrix(1, -0.4, 0.8, 1, 0, 0);
        transform: matrix(1, -0.4, 0.8, 1, 0, 0);
    }
}

@media (min-width: 40em) and (max-width: 50em) {
    div.listing {
        width: 45%;
        padding: 2em;
    }
}

@media (max-width: 40em) {
    div.listing {
        width: 100%;
        padding: 2em;
    }
}

div.listing a {
    text-decoration: none;
}

div.listing p.preview {
    color: black;
    font-size: 0.8em;
}

div.listing span {
    padding: 0.2em;
}

div.listing span.post-title {
    background-color: black;
    color: white;
    font-size: 1em;
}

div.listing span.date {
    background-color: black;
    color: white;
    font-size: 0.6em;
}

a#load-more {
    position: fixed;

    bottom: 0;
    left: 50%;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    background-color: black;
    color: white;

    font-size: 0.8em;

    padding: 0.5em;

    cursor: pointer;
}

div.post {
    padding: 4em;

    margin-top: 6em;
}

div#post-header {
    position: fixed;

    top: 0;
    left: 0;

    background-color: black;
    color: white;

    padding: 2em;

    z-index: 3;
}

span#post-title {
    font-size: 2em;
    font-weight: bold;
}

div#post-container {
    max-width: 50em;
    margin: 0 auto;
}

code {
    background-color: rgba(200, 200, 200, 0.3);
    border: 1px solid rgba(180, 180, 180, 0.3);
    border-radius: 2px;
    padding: 0.1em;
}
