{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
{% endblock %}

{% block body %}
  <div class="row">
    <div id="header" class="medium-10 medium-offset-1 column middle">
      <div id="blogtitle">
        <a href="/"><h1 id="title">{{ blog_title|safe }}</h1></a>
      </div>
      <div id="blogdesc">
        <p>{{ blog_desc|safe }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="listings" class="medium-10 medium-offset-1 column middle">
      {% for post in posts %}
        <div class="listing padded">
          <a href="/post/{{ post.slug }}">

            <div class="bg color padded float expand" style="background-color: {{ post_colors|random }};">
            </div>

          {% if post.previewimage %}
            <div class="bg image padded float expand" style="background-image: url({{ post.previewimage }});">
            </div>
          {% endif %}

            <div class="words">
              <p class="date">{{ post.postdate.strftime('%d %B, %Y') }}</p>
              <p class="title">{{ post.title|safe }}</p>
              {% if post.previewtext%}
                <p class="text">{{ post.previewtext|safe }}</p>
              {% endif %}
            </div>

          </a>
        </div> 
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div id="pagination" class="medium-10 medium-offset-1 column middle">
      {% if prevpage != 0 %}
      <a href="/listings/{{ prevpage }}">Previous</a> |
      {% endif %}

      <a href="/listings/{{ nextpage }}">Next</a>
    </div>    
  </div>
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/vendor/masonry.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/jquery.infinitescroll.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/listings.js') }}"></script>
{% endblock %}