/* No selection */
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

body {
	font-family: 'Montserrat', sans-serif;
}

div.column.middle {
	padding-left: 0px;
	padding-right: 0px;
}

div.listing {
	width: 33.33%;
}

@media (max-width: 40em) {
	div.listing {
		width: 100%;
	}
}

div.padded {
	padding: 2em 0.5em 4em 0.5em;
}

div.listing div.words {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 2px 2px black;
	pointer-events: none;
	color: white;
}

div.listing div.float {
	position: absolute;
	left: 0px;
	top: 0px;
}

div.listing div.expand {
	width: 100%;
	height: 100%;
}

div.listing div.bg.image {
	background-size: cover;
	background-position: center center;
}

div.listing div.bg.overlay.dark {
	opacity: 0.6;
}

div.listing div.bg.overlay.light {
	opacity: 0.2;
}

div.listing div.bg.overlay {
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

div.listing div.bg.overlay:hover {
	opacity: 0.1;
}

div.listing p.date {
	font-size: 0.8em;
	margin-bottom: 0.2em;
}

div.listing p.title {
	font-weight: bold;
	font-size: 1em;
}

div.listing p.text {
	font-size: 0.8em;
	margin-bottom: 0.2em;
}

div#header {
	position: fixed;
	top: 0px;
	z-index: 1;
	
	background-color: black;
	color: white;
	padding-top: 4em;
	padding-bottom: 6em;
	padding-left: 1em;
	padding-right: 1em;
}

span#title {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 2em;
	color: white;
}

div#pagination {
	border-top: 5px solid black;
	text-align: center;	
}

div#footer {
	position: fixed;
	left: 0px;
	bottom: 0px;

	font-size: 0.6em;
	background-color: black;
	padding: 0em 1em;

	opacity: 0.2;
}

div#footer:hover {
	opacity: 0.4;
}

div#footer span {
	color: white;
}

@media (max-width: 40em) {
	div#footer {
		opacity: 0;
	}
	div#footer:hover {
		opacity: 0;
	}
}