body {
	font-family: 'Alegreya', serif;
}

p {
	font-family: 'Alegreya', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

div.column.middle {
	padding-left: 0px;
	padding-right: 0px;
	border-left: 1px solid black;
}

div.padded {
	padding: 0.4em 2em;
}

div.header {
	position: fixed;
	top: 0px;
	z-index: 1;

	line-height: 1.8em;

	background-color: black;
}

a.blogtitle {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

span.posttitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
}

a.blogtitle.big {
	font-size: 1.4em;
}

span.posttitle.big {
	font-size: 1.6em;
}

a.blogtitle.small {
	font-size: 0.8em;
}

span.posttitle.small {
	font-size: 0.8em;
}